
<!-- form will go to /save_user and take input as params["name"] -->

<form method="post" action="/change_assignment">
  <input type="hidden" name="x" value="<%= @assignment.id %>">
  <h6>Update <%= @assignment.title %></h6>
  <label>Assignment's New Title:</label>
  <br>
  <input value="<%= @assignment.title %>" type="text" name="title" placeholder="New title: ">
  <br><br>

  <label>Assignment's New Description:</label>
  <br>
  <TEXTAREA NAME="description"><%= @assignment.description %></TEXTAREA>
  <br><br>

  <label>New URL of Assignment:</label>
  <br>
  <TEXTAREA NAME="repo"><%= @assignment.repo %></TEXTAREA>


  <input type="submit">
</form>













